.sidebar-menu {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    width: 100%;
    display: flex;
    color: white;
    background-color: var(--bg-dark-primary-color);
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-item:hover,
.sidebar-item.active {
    background-color: var(--bg-default-dark-color);
    color: white;
}

.sidebar-icon {
    margin-right: 10px;
}

.new-feature {
    position: relative;
    margin-top: 30px;
}

.new-badge {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #28a745;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 12px;
}
