# Node modules and Node.js binaries
/node/
/node_modules/
/qcmplusweb/node/
/qcmplusweb/node/node.exe
/qcmplusweb/node/npm
/qcmplusweb/node/npm.cmd
/qcmplusweb/node_modules/

# Build outputs
/target/
/qcmplusweb/build/
*.class
*.jar
*.war

# Environment configurations
.env
/qcmplusweb/*.log*

# IDE specific files
.idea/
.vscode/
*.iml

# Maven specific files
/mvnw
/mvnw.cmd
/.mvn/

# Logs and temporary files
/logs/
*.log
*.log.*
hs_err_pid*
replay_pid*

# Miscellaneous files
*.tmproj
*.tmtags
.venv/
*.zip
*.sql
*.sqlite
*.sqlite3
*.orig

# Documentation directory
/src/main/resources/doc/

# Qodana integration files
qodana.sarif.json
#qodana.yaml
