# Ignore specific node-related executables in the project directory
/qcmplusweb/node/node.exe
/qcmplusweb/node/npm
/qcmplusweb/node/npm.cmd

# Node modules and build directories
/qcmplusweb/node_modules/
/qcmplusweb/build/
/qcmplusweb/node/  # Ignore entire node directory under qcmplusweb

# React environment files
/.env
/qcmplusweb/*.log*

# IntelliJ IDEA & VSCode
.idea/
.vscode/
*.iml

# Java/Spring Boot
/target/
*.class
*.jar
*.war

# Maven wrapper files
/mvnw
/mvnw.cmd
/.mvn/

# Logs and temporary files
/logs/
*.log
*.log.*
hs_err_pid*
replay_pid*

# Miscellaneous files
*.tmproj
*.tmtags
.venv/
*.zip
*.sql
*.sqlite
*.sqlite3
*.orig

# Ignoring documentation directory
/src/main/resources/doc/

# Qodana integration files
qodana.sarif.json
qodana.yaml