/* General Styles for Quiz List and Card */
.quiz-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.quiz-card {
    border: 1px solid #ccc;
    border-radius: 18px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-card h2 {
    font-weight: bold;
    margin: 0 0 8px 0;
}

.quiz-card p {
    margin: 0 0 16px 0;
}

.quiz-card .img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.quiz-list .carousel-control-next,
.quiz-list .carousel-control-prev {
    width: 3%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
}

.quiz-list .carousel-control-next-icon,
.quiz-list .carousel-control-prev-icon {
    background-color: transparent;
    width: 3rem;
    height: 3rem;
}

.quiz-list .carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23ffffff%27 viewBox=%270 0 16 16%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M11.354 8l-4.646 4.646-.708-.708L10.293 8 6 3.707l.708-.708L11.354 8z%27/%3E%3C/svg%3E') !important;
    background-color: var(--bg-default-dark-hover-color);
}

.quiz-list .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23ffffff%27 viewBox=%270 0 16 16%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M4.646 8l4.646-4.646.708.708L5.707 8l4.293 4.293-.708.708L4.646 8z%27/%3E%3C/svg%3E') !important;
    background-color: var(--bg-default-dark-hover-color);
}

.quiz-card .defaultBtn{
    background-color: var(--bg-default-dark-color);
    color: var(--white-color);
}
.quiz-card .defaultBtn:hover{
    background-color: var(--bg-dark-primary-color);
    color: var(--white-color);
    transition: background-color 0.3s ease;
}
.quiz-card .defaultBtn:active {
    box-shadow: 0 5px var(--bg-default-dark-hover-color);
    transform: translateY(4px);
}
