.exam-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.exam-card {
    background-color: var(--bg-default-light-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--bg-default-dark-hover-color);
}


.exam-results-list {
    max-height: 600px;
    overflow-y: auto;
    padding: 10px;
    background-color: var(--bg-default-light-color);
    border: thick solid var(--bg-default-light-color);
}

.form-check-lg .form-check-input {
    width: 1.5em;
    height: 1.5em;
}

.bg-success-color {
    background-color: var(--bg-success-color);
}

.bg-danger-color {
    background-color: var(--bg-danger-color);
}

