.img-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selectExamen-card {
    border: 1px solid var(--bg-default-light-color);
    border-radius: 18px;
    width: 50rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.defaultBtn {
    display: inline-block;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--bg-default-dark-color);
    color: var(--bg-primary-color);
    text-align: center;
    transition: background-color 0.3s ease;
}

.defaultBtn:hover {
    background-color: var(--bg-default-dark-hover-color);
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}
