/* Custom styles for the navigation bar */

.nav-link-update{
    border-radius: 25px;
    box-shadow: var(--bg-default-light-color) 1px 1px 3px, var(--bg-default-light-color) 1px 1px 2px;
}


.btn-sing-in{
    border-radius: 23px;
    border-bottom: 5px solid var(--text-blue-color);
}
.btn-sing-in:hover{
    font-weight: bold;
    border-bottom:none;
}
.btn-sing-out{
    border-radius: 23px;
}

.btn-sing-out:hover{
    font-weight: bold;
}
