/* =========== Sign In ================== */

.container_signin {
    background-color: var( --white-color);
}

/* =========== Sign In ================== */







/* =========== Sign Up ================== */

.content_signup {
    display: flex;
    width: 100%;
    height: 100vh;
}

.content_signup .content_left {
    width: 50%;
    background: #F3F8FF;
    height: 100vh;
    padding-top: 20px;

}

.content_left .logo {
    display: flex;
    width: 35%;
    margin: auto;
}

.content_left .picture1 {
    display: flex;
    margin: auto;
     width: 50%;
    padding-top: 20px;
}

.picture1 img {
    width: 50%;
}

.content_signup .content_right {
    width: 50%;
    background: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-container {
    max-width: 450px;
    background-color: #fff;
    padding: 32px 70px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container button:active {
    scale: 0.95;
}

.form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.form-container .form {
    display: flex;
    flex-direction: column;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 14px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
}

.form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #04A8FF;
    background-color: #DEF4FE;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .form-submit-btn:hover {
    background-color: #313131;
}

.form-container .link {
    color: #1778f2;
    text-decoration: none;
}

.form-container .signup-link {
    align-self: center;
    font-weight: 500;
}

.form-container .signup-link .link {
    font-weight: 400;
}

.form-container .link:hover {
    text-decoration: underline;
}

/* =========== Sign Up ================== */


/* =========== Forget Password ================== */




/* =========== Forget Password ================== */