:root {
  --bg-primary-color: #f3f8fe;
  --bg-dark-primary-color: #152229;
  --bg-default-color: #d4effa;
  --bg-default-light-color: #d4effa;
  --bg-default-dark-color: #509cda;
  --bg-default-blue-light-color: #def4ff;
  --bg-light-color: #fdfeff;
  --bg-warning-color: #fe5500;
  --bg-success-color: #5cb85c;
  --bg-error-color: #d9534f;


  --text-default-color: #434d66;
  --white-color: #ffffff;
  --dark-color: #000000;
  --text-blue-color: #04a8ff;
}



.App{
  background-color: var(--bg-primary-color);
}

