.usersContainer {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
}

.ExportUserBtn{
    background-color: var(--bg-default-dark-color);
    color: var(--white-color);
}
.ToggleUserBtn{
    background-color: var(--bg-default-dark-color);
    color: var(--white-color);
}
.ExportUserBtn:hover,
.ToggleUserBtn:hover{
    background-color: var(--bg-dark-primary-color);
    color: var(--white-color);
    transition: background-color 0.3s ease;
}

.sidebar {
    background-color: var(--bg-primary-color);
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar :last-child {
    margin-top: auto;
}

.main-content {
    overflow-y: hidden;
    height: 100vh;
}
